[submodule "Connectors_Molex.pretty"]
	path = Connectors_Molex.pretty
	url = git@github.com:realthunder/Connectors_Molex.pretty.git
[submodule "Micro_Switches_ALPS.pretty"]
	path = Micro_Switches_ALPS.pretty
	url = git@github.com:realthunder/Micro_Switches_ALPS.pretty.git
[submodule "packages3d/Connectors_Molex.3dshapes"]
	path = packages3d/Connectors_Molex.3dshapes
	url = git@github.com:realthunder/Connectors_Molex.3dshapes.git
[submodule "packages3d/Micro_Switches_ALPS.3dshapes"]
	path = packages3d/Micro_Switches_ALPS.3dshapes
	url = git@github.com:realthunder/Micro_Switches_ALPS.3dshapes.git
[submodule "3dgen"]
	path = 3dgen
	url = git@github.com:realthunder/kicad_3dgen.git
[submodule "packages3d/Capacitors_SMD.3dshapes"]
	path = packages3d/Capacitors_SMD.3dshapes
	url = git@github.com:realthunder/Capacitors_SMD.3dshapes.git
[submodule "packages3d/Resistors_SMD.3dshapes"]
	path = packages3d/Resistors_SMD.3dshapes
	url = git@github.com:realthunder/Resistors_SMD.3dshapes.git
[submodule "packages3d/SuperLED.3dshapes"]
	path = packages3d/SuperLED.3dshapes
	url = git@github.com:realthunder/SuperLED.3dshapes.git
[submodule "SuperLED.pretty"]
	path = SuperLED.pretty
	url = git@github.com:realthunder/SuperLED.pretty.git
[submodule "TO_SOT_Packages_SMD.pretty"]
	path = TO_SOT_Packages_SMD.pretty
	url = git@github.com:realthunder/TO_SOT_Packages_SMD.pretty.git
[submodule "Resistors_SMD.pretty"]
	path = Resistors_SMD.pretty
	url = git@github.com:realthunder/Resistors_SMD.pretty.git
[submodule "Capacitors_SMD.pretty"]
	path = Capacitors_SMD.pretty
	url = git@github.com:realthunder/Capacitors_SMD.pretty.git
[submodule "Housings_SSOP.pretty"]
	path = Housings_SSOP.pretty
	url = git@github.com:realthunder/Housings_SSOP.pretty.git
[submodule "packages3d/Housings_SSOP.3dshapes"]
	path = packages3d/Housings_SSOP.3dshapes
	url = git@github.com:realthunder/Housings_SSOP.3dshapes.git
[submodule "Crystals.pretty"]
	path = Crystals.pretty
	url = git@github.com:realthunder/Crystals.pretty.git
[submodule "packages3d/Crystals.3dshapes"]
	path = packages3d/Crystals.3dshapes
	url = git@github.com:realthunder/Crystals.3dshapes.git
[submodule "Buttons_Switches_SMD.pretty"]
	path = Buttons_Switches_SMD.pretty
	url = git@github.com:realthunder/Buttons_Switches_SMD.pretty.git
[submodule "Buttons_Switches_THT.pretty"]
	path = Buttons_Switches_THT.pretty
	url = git@github.com:realthunder/Buttons_Switches_THT.pretty
[submodule "packages3d/Buttons_Switches_SMD.3dshapes"]
	path = packages3d/Buttons_Switches_SMD.3dshapes
	url = git@github.com:realthunder/Buttons_Switches_SMD.3dshapes.git
[submodule "Housings_DFN_QFN.pretty"]
	path = Housings_DFN_QFN.pretty
	url = git@github.com:realthunder/Housings_DFN_QFN.pretty.git
[submodule "Mounting_Holes.pretty"]
	path = Mounting_Holes.pretty
	url = git@github.com:realthunder/Mounting_Holes.pretty.git
[submodule "Connectors_Amass.pretty"]
	path = Connectors_Amass.pretty
	url = git@github.com:realthunder/Connectors_Amass.pretty.git
[submodule "packages3d/Connectors_Amass.3dshapes"]
	path = packages3d/Connectors_Amass.3dshapes
	url = git@github.com:realthunder/Connectors_Amass.3dshapes.git
[submodule "Socket_Strips.pretty"]
	path = Socket_Strips.pretty
	url = git@github.com:realthunder/Socket_Strips.pretty.git
[submodule "Pin_Headers.pretty"]
	path = Pin_Headers.pretty
	url = git@github.com:realthunder/Pin_Headers.pretty.git
[submodule "packages3d/Socket_Strips.3dshapes"]
	path = packages3d/Socket_Strips.3dshapes
	url = git@github.com:realthunder/Socket_Strips.3dshapes.git
[submodule "packages3d/Pin_Headers.3dshapes"]
	path = packages3d/Pin_Headers.3dshapes
	url = git@github.com:realthunder/Pin_Headers.3dshapes.git
[submodule "Misc.pretty"]
	path = Misc.pretty
	url = git@github.com:realthunder/Misc.pretty.git
[submodule "Inductors.pretty"]
	path = Inductors.pretty
	url = git@github.com:realthunder/Inductors.pretty.git
[submodule "packages3d/Inductors.3dshapes"]
	path = packages3d/Inductors.3dshapes
	url = git@github.com:realthunder/Inductors.3dshapes.git
[submodule "Housings_QFP.pretty"]
	path = Housings_QFP.pretty
	url = git@github.com:realthunder/Housings_QFP.pretty.git
[submodule "packages3d/Housings_QFP.3dshapes"]
	path = packages3d/Housings_QFP.3dshapes
	url = git@github.com:realthunder/Housings_QFP.3dshapes.git
[submodule "packages3d/TO_SOT_Packages_SMD.3dshapes"]
	path = packages3d/TO_SOT_Packages_SMD.3dshapes
	url = git@github.com:realthunder/TO_SOT_Packages_SMD.3dshapes.git
[submodule "packages3d/Housings_SOIC.3dshapes"]
	path = packages3d/Housings_SOIC.3dshapes
	url = git@github.com:realthunder/Housings_SOIC.3dshapes.git
[submodule "Diodes_SMD.pretty"]
	path = Diodes_SMD.pretty
	url = git@github.com:realthunder/Diodes_SMD.pretty.git
[submodule "packages3d/Diodes_SMD.3dshapes"]
	path = packages3d/Diodes_SMD.3dshapes
	url = git@github.com:realthunder/Diodes_SMD.3dshapes.git
[submodule "Connectors_JST.pretty"]
	path = Connectors_JST.pretty
	url = git@github.com:realthunder/Connectors_JST.pretty.git
[submodule "Capacitors_THT.pretty"]
	path = Capacitors_THT.pretty
	url = git@github.com:realthunder/Capacitors_THT.pretty.git
[submodule "packages3d/Capacitors_ThroughHole.3dshapes"]
	path = packages3d/Capacitors_ThroughHole.3dshapes
	url = git@github.com:realthunder/Capacitors_THT.3dshapes.git
